{% extends "base.html" %}

{% set active_page = "summary" %}

{% block content %}

<div class="starter-template text-light" style="background: #595959" ;>
  <h2>Welcome to Vine & Vault!<br><br></h2>
  <h4>We are four recent graduates of UT Austin's Data Analytics and Visualization Bootcamp and
    we developed this site to showcase our final project. Have a look around!<br><br><br>
    About our project: We chose to explore a Wine Reviews dataset from Wine Enthusiast magazine. We 
    selected this topic because we're a group of wine enthusiasts but we're certainly no sommeliers. 
    Since wine can be complicated and overwhelming, we wanted to create a fun and interactive way for 
    beginners to discover new wines. With this idea in mind, we built a dashboard to recommend wines 
    for a novice based on such things as price, rating, variety, country and province. We also built 
    a machine learning model to see if we could train it to rate wine like an experienced sommelier.<br><br><br>
  </h4>
  <h2>Explore our <a href="/dashboard" class="text-info">dashboard</a> or our GitHub <a
      href="https://github.com/whitneyshine/austin_project" class="text-info">repository.</a></h2>
</div>
<br>
<iframe class="centered-iframe"
  src="https://docs.google.com/presentation/d/e/2PACX-1vSUk2yyoRhc4gOMQ9keDyHQN4-X4nUxKefOYvXOBAxU9-GjFD4I_dvxz4MI86sGLEYRRFopHML6a3IX/embed?start=true&loop=true&delayms=60000"
  frameborder="0" width="100%" height="839" allowfullscreen="true" mozallowfullscreen="true"
  webkitallowfullscreen="true"></iframe>

{% endblock %}