{% extends "base.html" %}

{% set active_page = "summary" %}

{% block content %}

<div class="starter-template text-light" style="background: #595959";>
  <h2>There's no doubt wine can be intimidating, but you don't have to be a sommelier to drink wine like a pro. We
    understand wine can be complicated and overwhelming. That's why we've created a fun and interactive way for novice
    wine drinkers like us to discover new wines. <br><br>
    Explore our <a href= "/dashboard" class="text-info">dashboard</a> to select a great wine for any occasion on any budget!</h2>
</div>
<br>
<iframe class="centered-iframe"
	src="https://docs.google.com/presentation/d/e/2PACX-1vSUk2yyoRhc4gOMQ9keDyHQN4-X4nUxKefOYvXOBAxU9-GjFD4I_dvxz4MI86sGLEYRRFopHML6a3IX/embed?start=true&loop=true&delayms=60000"
	frameborder="0" width="100%" height="839" allowfullscreen="true" mozallowfullscreen="true"
	webkitallowfullscreen="true"></iframe>

{% endblock %}