{% extends "base.html" %}

{% set active_page = "team" %}

{% block content %}
<div class="row">
  <div class="col-3">
    <div class="card">
      <img src="../static/images/Christy.jpg" alt="Christy" style="width:100%">
      <div class="container">
        <h2>Christy Bell</h2>
        <p class="title">Data Analyst</p>
        <p>A little about me.</a></p>
        <p style="width:100%; text-align:center"><a href="https://github.com/christybell">
            <img alt="GitHub" src="../static/images/GitHub-Mark-64px.png" style="border:0px;margin:0px" width="64"
              height="64"></a>
          <a href="https://www.linkedin.com/in/christy-bell-71008a185/">
            <img alt="LinkedIn" src="../static/images/Linkedin.png" style="border:0px;margin:0px" width="64"
              height="64"></a>
        </p>
        <p><a href="mailto:bell.christy27@gmail.com">bell.christy27@gmail.com</a></p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <img src="../static/images/Whitney.jpg" alt="Whitney" style="width:100%">
      <div class="container">
        <h2>Whitney Shine</h2>
        <p class="title">Data Analyst</p>
        <p>A little about me.</a></p>
        <p style="width:100%; text-align:center"><a href="https://github.com/whitneyshine">
            <img alt="GitHub" src="../static/images/GitHub-Mark-64px.png" width="64" height="64"></a>
          <a href="https://www.linkedin.com/in/whitneyshine/">
            <img alt="LinkedIn" src="../static/images/Linkedin.png" style="border:0px;margin:0px" width="64"
              height="64"></a>
        </p>
        <p><a href="mailto:wshine79@sbcglobal.net">wshine79@sbcglobal.net</a></p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <img src="../static/images/Thomas.jpg" alt="Thomas" style="width:100%">
      <div class="container">
        <h2>Thomas Stover</h2>
        <p class="title">Data Analyst</p>
        <p>A little about me.</a></p>
        <p style="width:100%; text-align:center"><a href="https://github.com/thomasstvr">
            <img alt="GitHub" src="../static/images/GitHub-Mark-64px.png" width="64" height="64"></a>
          <a href="https://www.linkedin.com/in/thomas-stover-3598b7b7/">
            <img alt="LinkedIn" src="../static/images/Linkedin.png" style="border:0px;margin:0px" width="64"
              height="64"></a>
        </p>
        <p><a href="mailto:thomasstvr@yahoo.com">thomasstvr@yahoo.com</a></p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <img src="../static/images/Eileen.jpg" alt="Eileen" style="width:100%">
      <div class="container">
        <h2>Eileen Shimizu</h2>
        <p class="title">Data Analyst</p>
        <p>A little about me.</a></p>
        <p style="width:100%; text-align:center"><a href="https://github.com/Eileen-S-code">
            <img alt="GitHub" src="../static/images/GitHub-Mark-64px.png" width="64" height="64"></a>
          <a href="https://www.linkedin.com/in/eileen-shimizu-phd-163b05129/">
            <img alt="LinkedIn" src="../static/images/Linkedin.png" style="border:0px;margin:0px" width="64"
              height="64"></a>
        </p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}